body{
    font-size: 16px;
    font-family:verdana sans-serif ;
    background-color: rgba(241, 237, 234, 0.968);

}
div{
   width: 60%; 
   height: 60%;
   position: relative;
   right: -100px; 

}
#fd1,#fd3{
    background-color:blue;
    padding:8px ;
    margin: 15px 0px;
}
#fd2 {
    background-color: green;
}
#fd1:hover{
    box-shadow: 0px 0px 5px #444;
}
legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #444;
}
#fd2 input{
    width: 100px;
     height: 15px;
     padding-left: 0%;
}
#fd3 input{
    width: 300px;
     height: 20px;
}
#fd1 label,#fd2 label,#fd3 label{
    display: inline-block;
    width: 200px;
    padding: 10px 0px 15px 40px;

}
#sexef{
    margin-left: 250px;

}
#fm, #hm{
    padding: 0px !important;

}
.ch{
    margin-left: 10px !important;
}
textarea{
    margin: 20px 50px;
}        

#tf,#tr,#tp{
    padding: 0px !important;
} 
.ibou{
    background: rgb(0, 255, 238);
}                                                                                      
/*#fm,#hm{
    width: 0px;
    padding: 0px 0px 0px 0px;
} */
/* P{
    width: 300px;
    height: 20px;
    font-weight: bold;
    position: relative;
    right: -50px; 

} */
/*input[type="submit"]{
    float: left;
    padding: 10px;
    font-size: 14;
    color: #444;
    background-color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}*/

.info{
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 50px 100px;
}


li{
    padding: 5px;
    margin-left: 10%;
}

.contact{
    text-align: center;
    padding-top: 30px;
}

h6{
    font-size: 0.83em;
}

.fin{
    text-align: center;
    padding-top: 100px; 
}

footer{
    padding-top: 50px;
    background-color: aliceblue;
}
